asgiref==3.5.0
Django==4.0.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
Jinja2==3.1.1
MarkupSafe==2.1.1
Pillow==9.0.1
pystache==0.6.0
pytz==2022.1
PyYAML==6.0
render==1.0.0
sqlparse==0.4.2
static==1.1.1
